
@-webkit-keyframes shake
{
10.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

90.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

20.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

80.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

30.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

50.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

40.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

60.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

}

@-moz-keyframes shake
{
10.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

90.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

20.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

80.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

30.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

50.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

40.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

60.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

}

@-ms-keyframes shake
{
10.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

90.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

20.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

80.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

30.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

50.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

40.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

60.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

}

@-o-keyframes shake
{
10.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

90.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

20.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

80.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

30.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

50.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

40.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

60.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

}

@keyframes shake
{
10.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

90.0% 
{
  -webkit-transform : translateX(-1px);
  -moz-transform    : translateX(-1px);
  -ms-transform     : translateX(-1px);
  -o-transform      : translateX(-1px);
  transform         : translateX(-1px);
}

20.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

80.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

30.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

50.0% 
{
  -webkit-transform : translateX(-4px);
  -moz-transform    : translateX(-4px);
  -ms-transform     : translateX(-4px);
  -o-transform      : translateX(-4px);
  transform         : translateX(-4px);
}

40.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

60.0% 
{
  -webkit-transform : translateX(4px);
  -moz-transform    : translateX(4px);
  -ms-transform     : translateX(4px);
  -o-transform      : translateX(4px);
  transform         : translateX(4px);
}

}

@-webkit-keyframes bump
{
0.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

50.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

100.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

25.0% 
{
  -webkit-transform : translateX(-2px);
  -moz-transform    : translateX(-2px);
  -ms-transform     : translateX(-2px);
  -o-transform      : translateX(-2px);
  transform         : translateX(-2px);
}

75.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

}

@-moz-keyframes bump
{
0.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

50.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

100.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

25.0% 
{
  -webkit-transform : translateX(-2px);
  -moz-transform    : translateX(-2px);
  -ms-transform     : translateX(-2px);
  -o-transform      : translateX(-2px);
  transform         : translateX(-2px);
}

75.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

}

@-ms-keyframes bump
{
0.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

50.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

100.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

25.0% 
{
  -webkit-transform : translateX(-2px);
  -moz-transform    : translateX(-2px);
  -ms-transform     : translateX(-2px);
  -o-transform      : translateX(-2px);
  transform         : translateX(-2px);
}

75.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

}

@-o-keyframes bump
{
0.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

50.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

100.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

25.0% 
{
  -webkit-transform : translateX(-2px);
  -moz-transform    : translateX(-2px);
  -ms-transform     : translateX(-2px);
  -o-transform      : translateX(-2px);
  transform         : translateX(-2px);
}

75.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

}

@keyframes bump
{
0.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

50.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

100.0% 
{
  -webkit-transform : translateX(0px);
  -moz-transform    : translateX(0px);
  -ms-transform     : translateX(0px);
  -o-transform      : translateX(0px);
  transform         : translateX(0px);
}

25.0% 
{
  -webkit-transform : translateX(-2px);
  -moz-transform    : translateX(-2px);
  -ms-transform     : translateX(-2px);
  -o-transform      : translateX(-2px);
  transform         : translateX(-2px);
}

75.0% 
{
  -webkit-transform : translateX(2px);
  -moz-transform    : translateX(2px);
  -ms-transform     : translateX(2px);
  -o-transform      : translateX(2px);
  transform         : translateX(2px);
}

}

@-webkit-keyframes slide-in
{
0.0% 
{
  transform : translateY(50%);
}

100.0% 
{
  transform : translateY(0);
}

}

@-moz-keyframes slide-in
{
0.0% 
{
  transform : translateY(50%);
}

100.0% 
{
  transform : translateY(0);
}

}

@-ms-keyframes slide-in
{
0.0% 
{
  transform : translateY(50%);
}

100.0% 
{
  transform : translateY(0);
}

}

@-o-keyframes slide-in
{
0.0% 
{
  transform : translateY(50%);
}

100.0% 
{
  transform : translateY(0);
}

}

@keyframes slide-in
{
0.0% 
{
  transform : translateY(50%);
}

100.0% 
{
  transform : translateY(0);
}

}

table
{
  border-top        : solid 2px #d3d3d3;
  border-bottom     : solid 2px #d3d3d3;
  border-spacing    : 0;
  border-collapse   : collapse;
  column-span       : all;
  counter-increment : table;
}

table th
{
  padding     : 0.2em 1em 0.2em 1em;
  font-weight : inherit;
  text-align  : inherit;
}

table td
{
  padding        : 0.2em 1em 0.2em 1em;
  vertical-align : top;
}

table thead
{
  text-align    : left;
  font-weight   : normal;
  border-bottom : solid 1px #d3d3d3;
}

table tbody
{
  border-style : none;
}

table tbody tr:nth-child(odd)
{
  background-color : #f5f5f5;
}

table.diets
{
  -webkit-user-select : all;
  -moz-user-select    : all;
  -ms-user-select     : all;
  -o-user-select      : all;
  user-select         : all;
}

html
{
  font-size   : 10pt;
  line-height : 1.25;
}

@media all and (max-width: 1080px)
{
html
{
  font-size : calc(10pt + 0.5vmin);
}

}
input,
textarea
{
  width            : 100%;
  font-size        : inherit;
  padding          : 0 0 0 0;
  text-align       : inherit;
  background-color : inherit;
  font-family      : inherit;
  color            : #228b22;
  border           : inherit;
  opacity          : 0.8;
}

input:invalid,
textarea:invalid
{
  color        : #ff0000;
  border-style : solid;
  border-width : 1px;
}

input:hover,
textarea:hover
{
  opacity : 1;
}


header h1,
footer h1
{
  font-weight : 100;
  font-size   : 2.2rem;
  margin      : 0.5em 0.5em 0.5em 0.5em;
}

header.header,
footer.header
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
}

header.header > img#crest,
footer.header > img#crest
{
  flex               : 0 1 100px;
  margin             : 5px 5px 5px 5px;
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
}

header.header > img#crest:hover,
footer.header > img#crest:hover
{
  -webkit-animation   : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

header.header > img#crest:active,
footer.header > img#crest:active
{
  -webkit-animation   : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

header.header > div,
footer.header > div
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
  flex            : 1 1 auto;
}

header.header > div > h1.title,
footer.header > div > h1.title
{
  flex      : 1 1 auto;
  margin    : 10px auto 10px 5px;
  padding   : 0 5px 0 5px;
  font-size : 2.39999rem;
}

header.header > div > h2.login,
footer.header > div > h2.login
{
  border-radius      : 0 0 0 0;
  background-color   : #4682b4;
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
  padding            : 5px 5px 5px 5px;
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
  color              : #f0ffff;
  opacity            : 0.84999;
  margin             : 5px 5px 5px 5px;
  flex               : 0 0 auto;
  font-size          : 1.6rem;
  font-weight        : 100;
}


header.header > div > h2.login.button:hover,
footer.header > div > h2.login.button:hover
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

header.header > div > h2.login:active,
footer.header > div > h2.login:active
{
  opacity : 1;
}

header.header > div > h2.login:hover,
footer.header > div > h2.login:hover
{
  opacity : 1;
}

header.header > div > h2.login.toggled-down,
footer.header > div > h2.login.toggled-down
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
}

header.header > div > h2.login.selected,
footer.header > div > h2.login.selected
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
  opacity            : 1;
}

nav
{
  font-size          : 1.5rem;
  background-color   : #4682b4;
  flex               : 1 1 100%;
  opacity            : 0.84999;
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
}

nav > ul
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : space-evenly;
  align-items     : center;
  list-style-type : none;
  padding-left    : 0;
  margin          : auto -2.5px auto -2.5px;
}

nav li
{
  flex               : 0 1 auto;
  margin             : auto 2.5px auto 2.5px;
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
  color              : #f0ffff;
  padding            : 5px 5px 5px 5px;
}


nav li.button:hover
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}


span.in-text::before
{
  content : " ";
}

span.in-text::after
{
  content : " ";
}

body
{
  min-width        : fit-content;
  margin           : 1vh 1vw 1vh 1vw;
  background-color : #f0ffff;
  color            : #4682b4;
  text-align       : center;
  font-family      : "Helvetica Neue","Helvetica","Arial", sans-serif;
}


body p.message
{
  font-size : 32pt;
}

body p.warning
{
  font-size : 20pt;
  margin    : 0 auto 0 auto;
  padding   : 1ex 1em 1ex 1em;
}

body p.button
{
  font-size          : 1.69999rem;
  font-weight        : 100;
  border-radius      : 0 0 0 0;
  background-color   : #4682b4;
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
  padding            : 5px 5px 5px 5px;
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
  color              : #f0ffff;
  opacity            : 0.84999;
}


body p.button.button:hover
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

body p.button:active
{
  opacity : 1;
}

body p.button:hover
{
  opacity : 1;
}

body p.button.toggled-down
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
}

body p.button.selected
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
  opacity            : 1;
}

body p.refresh,
body a.refresh,
body div.refresh
{
  margin             : 0 auto 0 auto;
  cursor             : pointer;
  font-size          : 10pt;
  max-width          : 30vw;
  padding            : 1ex 1em 1ex 1em;
  text-decoration    : none;
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
}

body p.refresh:link,
body a.refresh:link,
body div.refresh:link
{
  color : #4682b4;
}

body p.refresh:hover,
body a.refresh:hover,
body div.refresh:hover
{
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
  color              : #f0ffff;
}


body p.refresh.button:hover:hover,
body a.refresh.button:hover:hover,
body div.refresh.button:hover:hover
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

body p.refresh:active,
body a.refresh:active,
body div.refresh:active
{
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
  color              : #f0ffff;
}


body p.refresh.button:active:hover,
body a.refresh.button:active:hover,
body div.refresh.button:active:hover
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

body p.refresh:visited,
body a.refresh:visited,
body div.refresh:visited
{
  color : #4682b4;
}

body p.refresh:hover:visited,
body a.refresh:hover:visited,
body div.refresh:hover:visited
{
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
  color              : #f0ffff;
}


body p.refresh.button:hover:hover:visited,
body a.refresh.button:hover:hover:visited,
body div.refresh.button:hover:hover:visited
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

body .noselect
{
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -o-user-select      : none;
  user-select         : none;
}

body.punting
{
  display         : flex;
  flex-flow       : column wrap;
  align-items     : flex-start;
  justify-content : flex-start;
}


body.punting > header h1
{
  font-size : 1.8rem;
}

body div.IO
{
  display         : flex;
  justify-content : center;
}

body div.IO.hidden
{
  display : none;
}

body div.IOcode
{
  display         : flex;
  justify-content : center;
  flex-direction  : column;
  margin          : 2vh 2vw 2vh 2vw;
}

body div.IOcode.hidden
{
  display : none;
}

body textarea.IO
{
  max-width : 400px;
  height    : 50vh;
  flex      : 1 1 auto;
}

body header#title
{
  display         : flex;
  justify-content : center;
  margin          : 0 auto 0 auto;
  flex-direction  : row;
  flex-wrap       : wrap;
  align-items     : center;
  align-content   : center;
}

body header#title > h1
{
  margin : 1ex 0 1ex 0;
}

body .hidden
{
  display : none;
}


section.pblock
{
  text-align            : left;
  -webkit-box-shadow    : 1px 1px 5px #4682b4;
  -moz-box-shadow       : 1px 1px 5px #4682b4;
  -ms-box-shadow        : 1px 1px 5px #4682b4;
  -o-box-shadow         : 1px 1px 5px #4682b4;
  box-shadow            : 1px 1px 5px #4682b4;
  padding               : 1em 2em 1em 2em;
  margin                : 1em 1em 1em 1em;
  display               : grid;
  grid-auto-rows        : auto;
  grid-gap              : 1em 3em;
  grid-template-columns : repeat(auto-fill, minmax(40ch, 1fr));
  width                 : calc(50% + 30em);
  max-width             : 76vw;
  counter-reset         : rule 0;
}

section.pblock > header
{
  grid-column : 1 / -1;
}

section.pblock p
{
  max-width         : 60ch;
  margin            : 0 0 0 0;
  counter-increment : rule;
  position          : relative;
}

section.pblock p::before
{
  content  : counter(rule);
  position : absolute;
  left     : -1.2em;
}

@media all and (min-width: 605px)
{
section.pblock
{
  max-width : 88vw;
}

}
@media all and (max-width: 424px)
{
section.pblock
{
  grid-template-columns : none;
}

}
section.component
{
  max-width : 100vw;
}

section.component > section.booking
{
  display         : flex;
  flex-flow       : column nowrap;
  align-items     : center;
  justify-content : space-evenly;
  justify-content : center;
}

section.component footer
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : space-evenly;
}

section.component > header
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
}

section.component > header h1
{
  flex : 6 1 60%;
}

section.component > header section.menu
{
  flex : 1 1 auto;
}

section.component input
{
  margin : 1em 0 1em 0;
}


section.component article.booked,
section.component p.booked,
section.component div.booked
{
  background-color : #98fb98;
}

section.component article.interested,
section.component p.interested,
section.component div.interested
{
  background-color : #e6e6fa;
}



section.component section header h1
{
  font-size : 1.6rem;
}

section.menu
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : space-evenly;
}

section.menu > p
{
  font-size : 1.69999rem;
}

section.key
{
  justify-content : center;
  align-items     : center;
}

section.key section
{
  flex : 1 0 0;
}

section.key p
{
  padding : 0.5em 0.5em 0.5em 0.5em;
  flex    : 0 1 auto;
  display : inline-block;
}

section.key p.label
{
  flex : 0 0 auto;
}

section.key p.cancel.label
{
  color : #cd5c5c;
}

section.key p.booked.label
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
}

section.key p.interested.label
{
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
}

section.deck
{
  display               : flex;
  flex-flow             : row nowrap;
  display               : grid;
  grid-template-columns : repeat(auto-fill, minmax(18em, 1fr));
  grid-auto-rows        : 1fr;
  width                 : 96vw;
}


section.deck div.create
{
  overflow            : hidden;
  flex                : 0 0 20em;
  position            : relative;
  opacity             : 0.2;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -o-user-select      : none;
  user-select         : none;
  display             : flex;
  flex-flow           : row wrap;
  align-items         : baseline;
  justify-content     : center;
  min-height          : 10em;
  padding             : calc(50% - 7.5em) 0;
}

section.deck div.create > div
{
  margin-top  : auto;
  margin      : auto auto auto auto;
  font-weight : 100;
  line-height : 0.5;
  transform   : matrix(20,0,0,20,0,0);
}

section.deck div.reload
{
  overflow            : hidden;
  flex                : 0 0 20em;
  position            : relative;
  opacity             : 0.2;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -o-user-select      : none;
  user-select         : none;
  display             : flex;
  flex-flow           : row wrap;
  align-items         : baseline;
  justify-content     : center;
  min-height          : 10em;
  padding             : calc(50% - 7.5em) 0;
}

section.deck div.reload > div
{
  margin-top  : auto;
  margin      : auto auto auto auto;
  font-weight : 100;
  line-height : 0.5;
  transform   : matrix(11,0,0,11,0,0);
}

section.deck > *
{
  margin : 5px 0.5em 5px 0.5em;
}


section.deck > *:first-child:last-child
{
  min-height : 15em;
}

section.deck > p:first-child:last-child
{
  background-color : inherit;
  box-shadow       : inherit;
  height           : inherit;
  margin           : 1em auto 1em auto;
}

section.deck > article
{
  flex               : 1 0 90%;
  max-width          : 28em;
  background-color   : #ffe4e1;
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
  border-radius      : 0 0 0 0;
}


section.deck > article.card:hover
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

section.deck > article.punting
{
  flex            : 0 0 10em;
  display         : flex;
  flex-flow       : column nowrap;
  align-items     : center;
  justify-content : space-evenly;
  font-size       : 1.5rem;
}

section.deck > article.punting > input,
section.deck > article.punting > p,
section.deck > article.punting > section
{
  margin : 0.2em 0 0.2em 0;
}

section.deck > article h2
{
  font-size   : 2.2em;
  font-weight : 100;
}

section.identifiers
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
  justify-content : space-evenly;
  flex            : 0 1 auto;
  font-size       : 1.8rem;
  font-weight     : 100;
}


section.identifiers > header h1
{
  font-size : 1.39999rem;
}

section.identifiers ul
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
  padding-left    : 0;
  flex            : 0 1 auto;
}

section.identifiers ul > li
{
  display : block;
  flex    : 0 1 5em;
}



div#halogen > section:first-of-type
{
  overflow-y : hidden;
}

div#authenticate
{
  display            : flex;
  flex-flow          : row wrap;
  align-items        : baseline;
  justify-content    : space-evenly;
  -webkit-animation  : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
  -moz-animation     : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
  -ms-animation      : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
  -o-animation       : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
  animation          : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
  background-color   : #ffe4e1;
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
  flex               : 0 0 100%;
}

div.full-view
{
  position         : fixed;
  top              : 0;
  z-index          : 10;
  left             : 0;
  width            : 100%;
  height           : 100%;
  background-color : rgba(0,0,0,0.5);
  display          : flex;
  flex-flow        : column wrap;
  justify-content  : center;
  align-items      : center;
}

div.full-view > input
{
  position    : relative;
  width       : 80%;
  height      : fit-content;
  font-family : monospace;
  font-size   : 2rem;
}

article.component
{
  position           : fixed;
  width              : 90vw;
  height             : fit-content;
  max-width          : 40em;
  max-height         : calc(100% - 10vmin);
  overflow-y         : scroll;
  top                : 5vmin;
  left               : 50%;
  transform          : translateX(-50%);
  background-color   : #ffe4e1;
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
  border-radius      : 0 0 0 0;
  z-index            : 1;
}

article.component .margined
{
  margin : 1em 2em 1em 2em;
}

article.component hr.cards
{
  margin : 0 0 0 0;
}

article.component header,
article.component footer
{
  position        : relative;
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
}

article.component header > h1,
article.component footer > h1
{
  flex       : 1 1 auto;
  font-size  : 2rem;
  margin-top : 1.5ex;
}

article.component header > h2,
article.component footer > h2
{
  flex      : 1 0 100%;
  font-size : 1.6rem;
  margin    : 0.5ex 0 0.5ex 0;
}

article.component header > h3,
article.component footer > h3
{
  flex   : 0 0 0;
  width  : 0;
  margin : 0.5ex 0.5ex 0.5ex 0.5ex;
}

article.component header > h3.dinner-id,
article.component footer > h3.dinner-id
{
  position : absolute;
  top      : 0;
  left     : 0;
}

article.component header > h3.dinner-id::before,
article.component footer > h3.dinner-id::before
{
  content : "#";
}

article.component header section.signup,
article.component footer section.signup
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
}

article.component header section.signup h1,
article.component footer section.signup h1
{
  font-size    : 1.19999rem;
  flex         : 3 1 25%;
  justify-self : left;
  text-align   : left;
  margin       : 0 0 0 0;
}

article.component header section.signup section,
article.component footer section.signup section
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
  justify-content : right;
  flex            : 1 1 auto;
}

article.component header section.signup section p,
article.component footer section.signup section p
{
  text-align : right;
  margin     : 0 0 0 0;
}

article.component header section.signup section p.time,
article.component footer section.signup section p.time
{
  flex : 1 1 20%;
}

article.component header section.signup section p.date,
article.component footer section.signup section p.date
{
  flex : 1 1 40%;
}


article.component section.buttons
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : space-evenly;
  justify-content : space-around;
}

article.component section.buttons > p
{
  flex : 1 0 100%;
}

article.component section.buttons > p.contact
{
  flex : 1 0 auto;
}

article.component section.buttons > p.button
{
  flex : 0 1 auto;
}

article.component section.tickets
{
  display         : flex;
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
}

article.component section.tickets p
{
  flex : 1 1 auto;
}

article.component section.tickets input
{
  width      : 2em;
  text-align : right;
  padding    : 0 0.5em 0 0.5em;
}

article.component ul
{
  list-style-type : none;
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
  padding-left    : 0;
}

article.component ul.diets
{
  display            : grid;
  grid               : 1fr 1fr / 1fr 1fr;
  grid-auto-flow     : row dense;
  place-items        : stretch;
  background-color   : #f5f5f5;
  margin             : 0 0 0 0;
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
  -webkit-animation  : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
  -moz-animation     : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
  -ms-animation      : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
  -o-animation       : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
  animation          : slide-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.0s 1 normal both;
}

article.component ul li.button
{
  border-radius      : 0 0 0 0;
  background-color   : #4682b4;
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
  padding            : 5px 5px 5px 5px;
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
  color              : #f0ffff;
  opacity            : 0.84999;
}


article.component ul li.button.button:hover
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

article.component ul li.button:active
{
  opacity : 1;
}

article.component ul li.button:hover
{
  opacity : 1;
}

article.component ul li.button.toggled-down
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
}

article.component ul li.button.selected
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
  opacity            : 1;
}


article.component ul.prices > li
{
  flex            : 1 1 40%;
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
  justify-content : space-between;
}

article.component ul.prices > li > p
{
  flex : 0 1 auto;
}

article.component ul.prices > li > input
{
  flex       : 0 0 25%;
  text-align : right;
}


section.component.signups
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
  flex            : 1 0 20em;
}

section.signups.summary
{
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
  background-color   : #fffff0;
  padding            : 0.5em 0.5em 0.5em 0.5em;
  margin             : 0.5em 0.5em 0.5em 0.5em;
}

section.signups header
{
  flex : 1 0 100%;
}

section.signups > header
{
  display         : flex;
  flex-flow       : column nowrap;
  align-items     : center;
  justify-content : space-evenly;
}

section.signups > section.booking
{
  display            : flex;
  flex-flow          : column nowrap;
  align-items        : center;
  justify-content    : space-evenly;
  flex               : 1 1 15em;
  background-color   : #ffe4e1;
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
  border-radius      : 0 0 0 0;
  background-color   : #d3d3d3;
  margin             : 0.5em 0.5em 0.5em 0.5em;
}


section.signups > section.booking header h1
{
  font-size : 1.5rem;
}


section.signups > section.booking header h2
{
  font-size : 1.3rem;
}

section.signups > section.booking > section.signup
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
}

section.signups section.signup.ticket
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
  color           : #ffe4e1;
}

section.signups section.signup.ticket p
{
  border-radius      : 0 0 0 0;
  background-color   : #4682b4;
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
  padding            : 5px 5px 5px 5px;
  -webkit-transition : all 0.5s ease 0.0s;
  -moz-transition    : all 0.5s ease 0.0s;
  -ms-transition     : all 0.5s ease 0.0s;
  -o-transition      : all 0.5s ease 0.0s;
  transition         : all 0.5s ease 0.0s;
  color              : #f0ffff;
  opacity            : 0.84999;
  margin             : 0.5em 0.5em 0.5em 0.5em;
}


section.signups section.signup.ticket p.button:hover
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

section.signups section.signup.ticket p:active
{
  opacity : 1;
}

section.signups section.signup.ticket p:hover
{
  opacity : 1;
}

section.signups section.signup.ticket p.toggled-down
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
}

section.signups section.signup.ticket p.selected
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
  opacity            : 1;
}

section.signups section.signup.ticket.member
{
  background-color : #e6e6fa;
}

section.signups section.signup.ticket.affiliate
{
  background-color : #d8bfd8;
}

section.signups section.signup.ticket.associate
{
  background-color : #ffebcd;
}

section.signups section.signup.ticket.guest
{
  background-color : #ffebcd;
}

section.calendar
{
  max-width : calc(30vw + 40em);
}

section.calendar > header,
section.calendar > footer
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
  justify-content : space-between;
}

section.calendar > header > h1,
section.calendar > footer > h1
{
  font-size : 1.19999rem;
  flex      : 1 1 0;
}

section.calendar > header p.button,
section.calendar > footer p.button
{
  font-size : 1.19999rem;
  margin    : 0 0.2em 0 0.2em;
}


section.calendar > header > div:first-child,
section.calendar > footer > div:first-child
{
  margin-left : 1em;
}

section.calendar > header > div:last-child,
section.calendar > footer > div:last-child
{
  margin-right : 1em;
}

section.calendar > header > div,
section.calendar > footer > div
{
  display         : flex;
  flex-flow       : row wrap;
  align-items     : baseline;
  justify-content : center;
}

section.calendar > section.days
{
  display               : flex;
  flex-flow             : row nowrap;
  display               : grid;
  grid-template-columns : repeat(auto-fill, minmax(18em, 1fr));
  grid-auto-rows        : 1fr;
  grid-gap              : 0.2em;
  grid-template-columns : minmax(5em, 1fr);
}


section.calendar > section.days div.create
{
  overflow            : hidden;
  flex                : 0 0 20em;
  position            : relative;
  opacity             : 0.2;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -o-user-select      : none;
  user-select         : none;
  display             : flex;
  flex-flow           : row wrap;
  align-items         : baseline;
  justify-content     : center;
  min-height          : 10em;
  padding             : calc(50% - 7.5em) 0;
}

section.calendar > section.days div.create > div
{
  margin-top  : auto;
  margin      : auto auto auto auto;
  font-weight : 100;
  line-height : 0.5;
  transform   : matrix(20,0,0,20,0,0);
}

section.calendar > section.days div.reload
{
  overflow            : hidden;
  flex                : 0 0 20em;
  position            : relative;
  opacity             : 0.2;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  -o-user-select      : none;
  user-select         : none;
  display             : flex;
  flex-flow           : row wrap;
  align-items         : baseline;
  justify-content     : center;
  min-height          : 10em;
  padding             : calc(50% - 7.5em) 0;
}

section.calendar > section.days div.reload > div
{
  margin-top  : auto;
  margin      : auto auto auto auto;
  font-weight : 100;
  line-height : 0.5;
  transform   : matrix(11,0,0,11,0,0);
}

section.calendar > section.days > *
{
  margin : 5px 0.5em 5px 0.5em;
}


section.calendar > section.days > *:first-child:last-child
{
  min-height : 15em;
}


@media all and (max-width: 605px)
{
section.calendar > section.days.names
{
  display : none;
}

}
@media all and (min-width: 605px)
{
section.calendar > section.days
{
  grid-template-columns : repeat(7, minmax(5em, 1fr));
}

}
section.calendar section.day
{
  background-color   : #dcdcdc;
  margin             : 0 0 0 0;
  -webkit-box-shadow : unset;
  -moz-box-shadow    : unset;
  -ms-box-shadow     : unset;
  -o-box-shadow      : unset;
  box-shadow         : unset;
  min-height         : 5em;
  position           : relative;
  display            : flex;
  flex-flow          : row wrap;
  align-items        : baseline;
  justify-content    : center;
  justify-content    : space-evenly;
}

section.calendar section.day:hover
{
  -webkit-animation   : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -moz-animation      : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -ms-animation       : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -o-animation        : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  animation           : bump 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.0s 1 normal both;
  -webkit-transform   : translateZ(0);
  -moz-transform      : translateZ(0);
  -ms-transform       : translateZ(0);
  -o-transform        : translateZ(0);
  transform           : translateZ(0);
  backface-visibility : hidden;
  perspective         : 1000px;
}

section.calendar section.day > div.booking,
section.calendar section.day > span.booking,
section.calendar section.day > p.booking
{
  font-size          : 1.19999rem;
  -webkit-box-shadow : 1px 1px 5px #4682b4;
  -moz-box-shadow    : 1px 1px 5px #4682b4;
  -ms-box-shadow     : 1px 1px 5px #4682b4;
  -o-box-shadow      : 1px 1px 5px #4682b4;
  box-shadow         : 1px 1px 5px #4682b4;
  margin             : 0.2em 0.2em 0.2em 0.2em;
  z-index            : 10;
  display            : flex;
  flex-flow          : row wrap;
  align-items        : baseline;
  justify-content    : center;
  opacity            : 0.8;
}

section.calendar section.day > div.booking > p,
section.calendar section.day > span.booking > p,
section.calendar section.day > p.booking > p
{
  margin : 0.5em 1em 0.5em 1em;
}

section.calendar section.day > div.booking.booked,
section.calendar section.day > span.booking.booked,
section.calendar section.day > p.booking.booked
{
  -webkit-box-shadow : inset 1px 1px 5px #191970;
  -moz-box-shadow    : inset 1px 1px 5px #191970;
  -ms-box-shadow     : inset 1px 1px 5px #191970;
  -o-box-shadow      : inset 1px 1px 5px #191970;
  box-shadow         : inset 1px 1px 5px #191970;
}

section.calendar section.day > div.booking div.cancel,
section.calendar section.day > div.booking span.cancel,
section.calendar section.day > div.booking p.cancel,
section.calendar section.day > span.booking div.cancel,
section.calendar section.day > span.booking span.cancel,
section.calendar section.day > span.booking p.cancel,
section.calendar section.day > p.booking div.cancel,
section.calendar section.day > p.booking span.cancel,
section.calendar section.day > p.booking p.cancel
{
  margin    : 0 0.4em 0.4em 0;
  color     : #cd5c5c;
  font-size : 0.8em;
}


@media all and (max-width: 605px)
{
section.calendar section.day::before
{
  content    : attr(weekday) " " attr(day) " " attr(month);
  margin     : 0.2em 0.2em 0.2em 0.2em;
  padding    : 0.2em 0.5em 0.2em 0.5em;
  flex       : 1 1 auto;
  text-align : left;
}

}
@media all and (min-width: 605px)
{
section.calendar section.day::before
{
  content          : attr(day);
  position         : absolute;
  bottom           : 0;
  right            : 0;
  color            : #f0ffff;
  transform        : matrix(5,0,0,5,-5,5);
  transform-origin : right bottom;
  font-weight      : 900;
}

}
@media all and (max-width: 605px)
{
section.calendar section.day
{
  justify-content : flex-end;
}

}
@media all and (min-width: 605px)
{
section.calendar section.day
{
  padding-bottom : calc(100% - 5em);
}

section.calendar section.day:first-of-type
{
  grid-column-start : var(--weekday-no);
}

}

/* Generated with Clay, http://fvisser.nl/clay */